<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Ingresar nuevo estudiante</h1>
      <form th:action="@{/save}" th:object="${estudiante}" method="POST">
        <div class="form-group">
          <label>Nombre:</label>
          <input class="form-control" type="text" th:field="*{Nombre}" />
          <span th:errors="*{Nombre}" style="color: #e81505;"></span><br />
        </div>

        <div class="form-group">
          <label>Apellido:</label>
          <input class="form-control" type="text" th:field="*{Apellido}" />
          <span th:errors="*{Apellido}" style="color: #e81505;"></span><br />
        </div>

        <div class="form-group">
          <label>Edad (No menor de 18 anios):</label>
          <input class="form-control" type="number" th:field="*{Edad}" />
          <span th:errors="*{Edad}" style="color: #e81505;"></span><br />
        </div>

        <div class="form-group">
          <label>Activo</label>
          <input type="radio" th:field="*{Estado}" th:value="${true}" />
          <label>Inactivo</label>
          <input type="radio" th:field="*{Estado}" th:value="${false}" /><br />
        </div>

        <input class="btn btn-primary" type="submit" value="Guardar" />
      </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
